h1 {
    text-align: center;
    margin: 0rem;
    padding: 0.5em;
}

.home,
.about,
.articles {
    border-radius: 205px;
    background: #e0e0e0;

        padding: 0 0.5em;
}



.is-active {
   border: 5px solid red;
   border-radius: 205px;
}

.list-container,
a {
    font-size: 1.2em;
    list-style: none;
    text-decoration: none;
    display: flex;
}

.nav-bar {
    position: fixed;
    width: 100%;
    top: 0;
    border-radius: 0px;
    background: #e0e0e0;
    box-shadow: 5px 5px 10px #bebebe,
        -5px -5px 10px #ffffff;
}

.container {
    margin-top: 12rem;
    max-width: 80em;
    background-color: beige;
    margin: 0 auto;
    height: 100vh;
}