body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: #e0e0e0;
  box-shadow: 5px 5px 10px #bebebe,
      -5px -5px 10px #ffffff;
}

.container::-webkit-scrollbar {
  display: none;
}

.p{
  font-size: 1.2em;
}

.container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  text-align: center;
  margin: 0rem;
  padding: 0.5em;
}

.is-active {
  color: red;
  border-top: 5px solid red;
  border-radius: 205px;
}

.home,
.about,
.articles {
  border-radius: 205px;
  background: #e0e0e0;
  box-shadow: 10px 10px 19px #5a5a5a,
      -10px -10px 19px #ffffff;
  padding: 0 0.5em;
}

.list-container,
a {
  font-size: 1.2em;
  list-style: none;
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
  gap: 1em;
  margin-right: 1em;
}

.nav-bar {
  position: fixed;
  width: 100%;
  top: 0;
  background: #e0e0e0;
  box-shadow: 5px 5px 10px #bebebe,
      -5px -5px 10px #ffffff;
}

.div-container {
  color: black;
}

.counter-button-contianer{
  display: grid;
  justify-content: center;
  margin: 0 auto;
  background: #ce0e0e;
}

.container {
  position: fixed;
  top: 4.5em;
  width: 60%;
  margin: 0 20%;
  max-height: 90%;
  overflow-y: scroll;

}
